<html>
	<head>
	
	</head>
	
	
	<body>
	

	<!-- login-->
{% if user.is_authenticated %}
<div id="user-info">{{user.username}} | <a href="/logout/"> logout | </a>
{% if user.is_staff %}<a href="/optionsgestionnaire/"> options de gestionnaire </a>{% endif %}
{% if not user.is_staff %}<a href="/optionsetudiant/"> options d'étudiant </a>{% endif %}
</div>

{% else %}
<div id="user-info"> <a href="/login/"> login </a>| <a href="/registeretudiant/"> register etudiant</a>| <a href="/registergestionnaire/"> register gestionnaire</a></div>

{% endif %}
	
		<h1>Site d'échange de livres de la coopérative</h1>
		<h2>{% block second_titre %} {% endblock %}</h2>
		
		
		
		{% block content %}
		
		
		{% endblock %}
	
	</body>
</html>