{% extends 'base.html' %}

{% block second_titre %}   {{title}}  {% endblock %}



{% block content %}
		
	<!--recevoir-->
	<pre>{{message}}</pre>
	
	{% if form != "aucun" %}
	<form action="/actionlivre/" method="post">
    {% csrf_token %}
	{{ r_form }}
    {{ form.as_table }}
	<input name="name" type="submit" value="Confirmer l'état puis recevoir" />
	<input name="name" type="submit" value="Livrer le livre" />
	<input name="name" type="submit" value="Annuler transaction" />
	<p>
	<input name="name" type="submit" value="Supprimer le livre" />
	<input name="name" type="submit" value="Dupliquer le livre" />
	<input name="name" type="submit" value="Modifier le livre" />
	</form> 
	{% endif %}
	
		
{% endblock %}
